{% extends "base.html" %}
{% block title %}About Music Rater{% endblock %}

{% block navbar_items %}
    <li class="nav-item">
        {% if session['username'] %}
        <a class="nav-link" href="{{url_for('user')}}">Home</a>
        {% else %}
        <a class="nav-link" href="{{url_for('index')}}">Home</a>
        {% endif %}
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('new_artist')}}">Request New Artist</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>About Us</h1>
        </div>
        <div class="row">
            <p>This website was created for our CS410 final project at the University of Illinois. It uses Pitchfork ratings and performs sentiment analysis on the review text in order to assign ratings to each artist in our database. It also allows you to select your own ratings for artists, even ones not rated by pitchfork, and uses those ratings in order to recommend you new artists through a process called Collaborative Filtering.</p>
        </div>
        <div class="row">
            <h4><b>Technologies/Libraries Used</b></h4>
        </div>
        <div class="row">
            <div class="list-group">
                <a href="http://surpriselib.com/" class="list-group-item list-group-item-action">
                    Surprise
                </a>
                <a href="https://www.nltk.org/_modules/nltk/sentiment/vader.html" class="list-group-item list-group-item-action">
                    VADER Sentiment Analysis Library
                </a>
                <a href="https://developer.spotify.com/web-api/" class="list-group-item list-group-item-action">
                    Spotify API
                </a>
                <a href="https://github.com/tejassharma96/pitchfork" class="list-group-item list-group-item-action">
                    Unofficial Pitchfork API
                </a>
                <a href="https://github.com/guoguo12/billboard-charts" class="list-group-item list-group-item-action">
                    Unofficial Billboard API
                </a>
                <a href="http://flask.pocoo.org/" class="list-group-item list-group-item-action disabled">
                    Flask
                </a>
                <a href="https://www.postgresql.org/" class="list-group-item list-group-item-action disabled">
                    PostgreSQL
                </a>
            </div>
        </div>
    </div>
{% endblock %}