{% extends "base.html" %}
{% block title %}{{ artist['name'] }}{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='artist.js')}}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="display-3">{{artist['name']}}</h1>
            <h1 class="mt-4 ml-2">
        </div>
        <div class="row">
            <h3>Pitchfork Rating: <span class="badge badge-dark ml-1">{% if rating is number %}{{ rating|round(1) }}{% else %}-{% endif %}</span></h3>
        </div>
        <div class="row">
            <h3>Avg User Rating: <span class="badge badge-dark">{{avg_user_rating}} ({{ user_count }})</span></h3>
        </div>
        <div class="row">
            <div class="col">
                {% if rating is string %}
                <p>{{ rating }}</p>
                {% endif %}
                <img width="350" height="350" src="{{artist['images'][0]['url']}}" class="img-thumbnail float-none">
                {% if lastupdated %}
                <p>This artist's rating was last updated on {{ lastupdated['date'] }} at {{ lastupdated['time'] }}.</p>
                {% endif %}
                <p>
                    <b>Genres:</b>
                    {% for genre in artist['genres']%}
                        {% if loop.index == artist['genres']|length %}
                            <b>{{genre}}</b>
                        {% else %}
                            <b>{{genre}},</b>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            {% if session['username'] %}
            <div class="col">
                <h1>Rate this artist</h1>
                {% if user_rating %}
                    {% for i in range(1, 11) %}
                        {% if user_rating == i %}
                            <button id="{{s_id}} {{i}}" class="btn btn-lg btn-dark disabled rate">{{i}}</button>
                        {% else %}
                            <button id="{{s_id}} {{i}}" class="btn btn-lg btn-dark rate">{{i}}</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for i in range(1, 11) %}
                        <button id="{{s_id}} {{i}}" class="btn btn-lg btn-dark rate">{{i}}</button>
                    {% endfor %}
                {% endif %}
            </div>
            {% else %}
            <div class="col">
                <h1>Rate this artist.</h1>
                {% for i in range(1, 11) %}
                    <button id="{{s_id}} {{i}}" class="btn btn-lg btn-dark disabled rate" disabled>{{i}}</button>
                {% endfor %}
                <p>Please log in to rate artists and get recommendations.</p>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <h3>Albums</h3>
                <div class="row">
                {% for album in albums %}
                    {% if loop.index-1 % 3 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col">
                        <a href="{{album['external_urls']['spotify']}}" target="_blank">
                            {% if album['images']|length != 0 %}
                                <img style="width:15rem; height:15rem" class="rounded-circle" src="{{album['images'][0]['url']}}"/>
                            {% else %}
                                <img style="width:15rem; height:15rem" class="rounded-circle" src="{{url_for('static', filename='album-art-empty.png')}}"/>
                            {% endif %}

                            <div class="card-body">
                                <h5>{{album['name']}}</h5>
                                <p class="card-text">
                                    Released <br />{{album['release_date']}}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}