{% extends "base.html" %}
{% block title %}Request New Artist{% endblock %}

{% block navbar_items %}
    <li class="nav-item">
        {% if session['username'] %}
        <a class="nav-link" href="{{url_for('user')}}">Home</a>
        {% else %}
        <a class="nav-link" href="{{url_for('index')}}">Home</a>
        {% endif %}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Request New Artist</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <div class="col">
                <input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg"/>
            </div>
        </div>
        <div class="row">
            <p>Due to limitations in the spotify api, we can only autocomplete artist names after the first "whole word" in their name. For example, you would need to at least enter "Kanye" to search for Kanye West, rather than just searching for "Kan".</p>
        </div>     
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $(function() {
        $("#autocomplete").autocomplete({
            source:function(request, response) {
                $.getJSON("{{url_for('autocomplete')}}",{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 3,
            select: function(event, ui) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: {s_id: ui.item.value},
                    url: '/handledata/',
                    success: function(response){
                        console.log(response)
                        window.location.replace(response.redirect_url);
                    }
                });
            }
        });
    })
    </script>
{% endblock %}