{% extends "base.html" %}
{% block title %}Search Result{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if artists %}
                <h1>Search Results</h1>
                {% else %}
                <h1>We couldn't find any results for your search. You can try adding an artist from the "Request New Artists" page.</h1>
                {% endif %}
            </div>
        </div>
        {% if artists %}
            <ul class="list-group">
            {% for artist in artists %}
                <li class="list-group-item">
                    <a href="{{url_for('artist', s_id=artist['id'])}}">
                        {{artist['name']}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}