{% extends "base.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if artists %}
            <h1>Search Results</h1>
            {% else %}
            <h1>No Artists Found</h1>
            </div>
            <div class="row">
                <p>We couldn't find any results for your search. You can try adding an artist from the <a href="{{url_for('new_artist')}}">"Request New Artists" page.</a></p>
            {% endif %}
        </div>
        {% if artists %}
            <ul class="list-group">
            {% for artist in artists %}
                <li class="list-group-item">
                    <a href="{{url_for('artist', s_id=artist['id'])}}">
                        {{artist['name']}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}