{% extends "base.html" %}
{% block title %}Top 25 Artists{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='top_artists.js')}}"></script>
{% endblock %}

{% block navbar_items %}
    <li class="nav-item">
        {% if session['username'] %}
        <a class="nav-link" href="{{url_for('user')}}">Home</a>
        {% else %}
        <a class="nav-link" href="{{url_for('index')}}">Home</a>
        {% endif %}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Top Artists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('new_artist')}}">Request New Artist</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <h1>Top 25 Artists (by pitchfork rating)</h1>
            </div>
        </div>
    </div>
{% endblock %}