{% extends "base.html" %}
{% block title %}Recommended For You{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='user.js')}}"></script>
{% endblock %}

{% block navbar_items %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for ('new_artist')}}">Requst New Artist</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Recommended For You</h1>
            </div>
        </div>
    </div>
{% endblock %}